Package: glcd-simulator
Version: 1.1.1-alpha-SNAPSHOT
Section: misc
Priority: optional
Architecture: all
Depends:
Maintainer: Rafael Ibasco <ribasco@gmail.com>
Description: A cross-platform Graphics LCD simulator for embedded devices and single board computers.
