<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-6thread] %-6level %-20logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file-info" class="ch.qos.logback.core.FileAppender">
        <file>./logs/emulator.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%-8relative | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file-error" class="ch.qos.logback.core.FileAppender">
        <file>./logs/emulator-error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %ex</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="file-info"/>
        <appender-ref ref="file-error"/>
    </root>

    <logger name="com.ibasco.glcdemu.emulator" level="DEBUG"/>
    <logger name="com.ibasco.pidisplay.core.util.concurrent.ThreadUtils" level="INFO"/>
</configuration>