[Desktop Entry]
Name=GLCD Simulator
Comment=A cross-platform Graphics LCD simulator for monochrome display devices.
Exec=/opt/GLCDEmulator/GLCDEmulator
Icon=/opt/GLCDEmulator/GLCDEmulator.png
Terminal=false
Type=Application
Categories=Development

