[Desktop Entry]
Name=GLCD Emulator
Comment=A cross-platform graphics LCD emulator for monochrome display devices.
Exec=/opt/GLCDEmulator/GLCDEmulator
Icon=/opt/GLCDEmulator/GLCDEmulator.png
Terminal=false
Type=Application
Categories=Development

