[Desktop Entry]
Name=GLCD Simulator
Comment=A cross-platform Graphics LCD simulator for monochrome display devices.
Exec=/opt/GLCDSimulator/GLCDEmulator
Icon=/opt/GLCDSimulator/GLCDEmulator.png
Terminal=false
Type=Application
Categories=Development

